<div *ngIf="!formulario">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</div> 

<div class="divCard" *ngIf="formulario">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>Cadastro de despesas</h3>
            </mat-card-title>
        </mat-card-header>

        <form [formGroup]="formulario" (ngSubmit)="()">
            <div class="cardErros"  *ngIf="erros.length > 0">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Algo deu errado :(
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>

                    <mat-card-content>
                        <div class="divErros">
                            <h4 *ngFor="let erro of erros" class="textoErros">
                                {{erro}}
                            </h4>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <mat-card-content>
                <div>
                    <mat-form-field>
                        <mat-label>Selecione o cartão</mat-label>
                        <mat-select formControlName="cartaoId" required>
                            <mat-option *ngFor="let cartao of cartoes" [value]="cartao.cartaoId">
                                {{cartao.numero}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="propriedade.cartaoId.invalid && propriedade.cartaoId.touched">
                            <sup>*</sup>Selecione o cartão
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Descrição</mat-label>
                        <input type="text" formControlName="descricao" matInput placeholder="Digite a descrição da despesa" minlength="1" maxlength="50">
                        <mat-error *ngIf="propriedade.cartaoId.invalid && propriedade.cartaoId.touched">
                            <sup>*</sup>Digite a descrição
                        </mat-error>
                        <mat-error *ngIf="propriedade.cartaoId.errors?.minlength">
                            <sup>*</sup>Use mais caracteres
                        </mat-error>
                        <mat-error *ngIf="propriedade.cartaoId.errors?.maxlength">
                            <sup>*</sup>Use menos caracteres
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div>
                    <mat-form-field>
                        <mat-label>Selecione a categoria</mat-label>
                        <mat-select formControlName="categoriaId" required>
                            <mat-option *ngFor="let categoria of categorias" [value]="categoria.categoriaId">
                                {{categoria.nome}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="propriedade.categoriaId.invalid && propriedade.categoriaId.touched">
                            <sup>*</sup>Selecione a categoria
                        </mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Valor</mat-label>
                        <input type="text" formControlName="valor" matInput placeholder="Digite o valor da despesa">
                        <mat-error *ngIf="propriedade.valor.invalid && propriedade.valor.touched">
                            <sup>*</sup>Digite o valor da despesa
                        </mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Dia</mat-label>
                        <input type="text" formControlName="dia" matInput placeholder="Digite o dia">
                        <mat-error *ngIf="propriedade.dia.invalid && propriedade.dia.touched">
                            <sup>*</sup>Digite o dia
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Selecione o mês</mat-label>
                        <mat-select formControlName="mesId" required>
                            <mat-option *ngFor="let mes of meses" [value]="mes.mesId">
                                {{mes.nome}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="propriedade.mesId.invalid && propriedade.mesId.touched">
                            <sup>*</sup>Selecione o mês
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Ano</mat-label>
                        <input type="text" formControlName="ano" matInput placeholder="Digite o ano">
                        <mat-error *ngIf="propriedade.ano.invalid && propriedade.ano.touched">
                            <sup>*</sup>Digite o ano
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <button type="submit" mat-stroked-button color="primary" [disabled]="formulario.invalid">Salvar</button>
                <button type="button" mat-stroked-button (click)="VoltarListagem()">Voltar</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>